body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tabs {
    justify-content: flex-end;
}

.link-tag {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.recipe-card {
    opacity: 0;
    transform: translateX(25px);
    animation: fadeIn 400ms forwards;
}

a:hover {
    color: teal;
    transition: 150ms color ease-out;
}

select {
    display: block;
}

.form-container {
    max-width: 23rem;
}

#add-form {
    opacity: 0;
    transform: translateY(-15px);
    animation: fadeIn 600ms forwards;
}

.home-recipe-grid,
.dashboard-recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7rem;
}

@keyframes fadeIn {
    100% {
        transform: none;
        opacity: 1;
    }
}

#loading-div {
    width: 100px;
    height: 100px;
    margin: 5rem auto;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center; */
}

.loading-dot {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    transform: rotate(0deg);
    animation: spin 1000ms cubic-bezier(0.6, 0.7, 0.3, 1.2) infinite;
    /* background: rgba(0, 182, 182, 0.22); */
    /* box-shadow: 0 0 20px rgba(0, 180, 180, 0.712); */
    box-shadow: 0 0 5px rgba(0, 77, 77, 0.712);
}

.loading-dot::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid teal;
    border-color: teal transparent teal transparent;
    top: 0;
    left: 0;
}

.loading-dot:nth-child(2) {
    animation-delay: 100ms;
}
.loading-dot:nth-child(3) {
    animation-delay: 200ms;
}

@keyframes bounce {
    50% {
        transform: translateY(15px) scale(0.8);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
