body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tabs {
	justify-content: flex-end;
}

.link-tag {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.recipe-card {
	opacity: 0;
	transform: translateX(25px);
	animation: fadeIn 400ms forwards;
}

select {
	display: block;
}

#add-form {
	opacity: 0;
	transform: translateY(-15px);
	animation: fadeIn 600ms forwards;
}

.home-recipe-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: .7rem;
}

@keyframes fadeIn {
	100% {
		transform: none;
		opacity: 1;
	}
}
