body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.tabs {
    justify-content: flex-end;
}

.link-tag {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.recipe-card {
    opacity: 0;
    transform: translateX(-25px);
    animation: fadeIn 400ms forwards;
}

.card-btn-delete {
    position: absolute;
    right: 0%;
    bottom: 0;
    height: 100%;
    box-shadow: none;
    margin: 0;
    background: rgb(172, 0, 0);
}

.card-btn-read-more:hover {
    color: goldenrod;
}

.card-btn-delete:hover {
    box-shadow: none;
    transform: none;
    background: red;
}

a:hover {
    color: teal;
    transition: 150ms color ease-out;
}

.custom-alert {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 12;
}

.submit-btn {
    width: 100%;
    text-align: center;
}

select {
    display: block;
}

.alert-msg {
    opacity: 0;
    animation: fadeIn 500ms forwards;
}

.form-container {
    max-width: 23rem;
}

#add-form {
    opacity: 0;
    transform: translateY(-15px);
    animation: fadeIn 600ms forwards;
}

/* .home-recipe-grid {
	max-width: 75%;
	margin: 1rem auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 0.7rem;
} */

/* SpinnerLoading */

#spinner-loading-div {
    width: 100px;
    height: 100px;
    margin: 5rem auto;
}

.loading-item {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    transform: rotate(0deg);
    animation: spin 1000ms cubic-bezier(0.6, 0.9, 0.3, 1.2) infinite;
    box-shadow: inset 0 0 6px rgba(0, 77, 77, 0.712);
}

.loading-item::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid teal;
    border-color: teal transparent teal transparent;
    top: 0;
    left: 0;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* BouncerLoading */

#bouncer-loading-div {
    width: 100px;
    height: 100px;
    margin: 5rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-self: center;
}

.loading-dot {
    background: teal;
    height: 15px;
    width: 15px;
    transform: none;
    animation: bounce 1000ms infinite;
}

.loading-dot:nth-child(2) {
    animation-delay: 100ms;
}
.loading-dot:nth-child(3) {
    animation-delay: 200ms;
}

@keyframes bounce {
    50% {
        transform: translateY(15px) scale(0.8);
    }
}

/* PulserLoading */

#pulser-loading-div {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5rem auto;
}

.pulser-loading-item {
    position: absolute;
    box-shadow: 0 0 2px 2px white;
    opacity: 1;
    border-radius: 50%;
    background: teal;
    animation: pulse 1500ms cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.pulser-loading-item:nth-child(2) {
    animation-delay: 600ms;
}

@keyframes pulse {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 5rem;
        height: 5rem;
        opacity: 0;
    }
}

/* RECIPE DETAILS CARD */

#recipe-detail-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 5000;
}

#recipe-detail-modal .overlay {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: none;
    opacity: 0;
    animation: fadeIn 300ms forwards;
}

#recipe-detail-modal .overlay #recipe-details-card {
    opacity: 0;
    max-height: 95%;
    max-width: 95%;
    min-width: 55%;
    cursor: default;
    transform: scale(0.8);
    animation: fadeIn 300ms forwards;
}

i {
    transition: 200ms color ease-out;
}

i:hover {
    color: rgb(48, 48, 48);
}

@keyframes fadeIn {
    100% {
        transform: none;
        opacity: 1;
    }
}
